@{
    Layout = "~/Views/Shared/_Layout_Tea_Post.cshtml";
}

<style>

    .linedivider {
        background: rgb(30,100,20);
        content: close-quote;
        width: 2px;
        height: 100px;
        position: relative;
        left: 50%;
        right: 50%;
        box-sizing: inherit;
    }

</style>

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3 mt-5 pt-5">
                    <div class="col-6 text-end">
                        <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s" src="~/web/img/about.jpg" alt="">
                        <img class="img-fluid bg-white w-50 wow fadeIn" data-wow-delay="0.2s" src="~/web/img/about2.png" alt="">
                    </div>                   
                    <div class="col-6">
                        <img class="img-fluid bg-white w-50 mb-3 wow fadeIn" data-wow-delay="0.3s" src="~/web/img/about-4.jpg" alt="">
                        <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s" src="~/web/img/about3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">About Us</p>
                    <h1 class="display-6">The success history of TEA Post</h1>
                </div>
                <div class="row g-3 mb-4">
                    <div class="col-sm-5">
                        <img class="img-fluid bg-white h-50 w-100" src="~/web/img/about5.gif" alt="">
                    </div>
                    <div class="col-sm-7">
                        @* <h5>Our tea is one of the most popular drinks in the world</h5> *@
                        <p class="mb-2">Since the time immemorial, the world has been mesmerized by this beautiful beverage called Chai. It started somewhere around the North-Eastern areas of India and now it is the most consumed drink in the world, after water. India is the country of tea lovers. And they all love Chai from the bottom of their hearts. Tea Post was envisioned with the dream of reaching out to such tea lovers and offering them a great experience of having Chai.</p>
                        <p>According to a study, Indians consume about 25% of the tea produced in the world, every year. And that’s because it makes a big & powerful impact on one’s mind, which is amazingly refreshing. This is evident from the unprecedented rise in the number of Tea Post outlets which grew to 200+ within the first decade. Today, Tea Post is one of the largest Tea Café chains in India — serving more than 15 varieties of Chai and a wide range of delicious snacks.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top mb-4"></div>
        <div class="row g-3">
            <div class="col-sm-8 mt-5 pt-5">
                <h2>THE BEGINNING OF A DREAM</h2>
                <p class="mb-0">Though Tea Post was established in the year 2013, the idea of Tea Post had been brewing in the heart of Mr. Darshan Dashani for a long time. It was his comprehension about the demand and vision which took Tea Post from one outlet to 50 outlets within just 3 years. And then going on a hyper drive, Tea Post opened its 100″ outlet in 2017. Starting from a humble beginning, today Tea Post has become one of the fastest-growing Tea Café chains in India — present in 40 cities across 4 states.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-fluid bg-white h-75 w-100" src="~/web/img/about1.png" alt="">
            </div>
        </div>

        <div class="border-top mb-5"></div>
        <div class="row g-3">
            <div class="col-sm-5">
                <img class="img-fluid bg-white h-75 w-auto" src="~/web/img/mr-dashani.png" alt="">
            </div>
            <div class="col-sm-7 pt-5 mt-5">
                <p class="mb-0">During my international travels, I noticed that everyone was very comfortable in getting their everyday breakfast and coffee from nearby cafes. This is when I realized that this trend can be brought to India successfully – albeit with an Indian perspective. Then I tweaked the offerings with Indian F & B sensibilities and included Indian Chai and traditional snacks into the menu. And we were all set for a revolution.</p>
                <div class="w-100 text-end mt-3">
                    <h4>- Mr. Darshan Dashani</h4>
                </div>
            </div>            
        </div>
    </div>
</div>
<!-- About End -->

<div class="linedivider"></div>