@using TeaPost.Areas.Shop.Models
@{
    Layout = "~/Views/Shared/_Layout_Tea_Post.cshtml";
}

<!-- Carousel Start -->
<div class="container-fluid px-0 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner" inte>
            <div class="carousel-item active">
                <img class="w-100" src="~/web/img/tea-post1.jpg" alt="Image">
                @* <div class="carousel-caption"> *@
                <div class="">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                @* <p class="fs-4 text-white animated zoomIn">Welcome to <strong class="text-dark">TEA House</strong></p> *@
                                @* <h1 class="display-1 text-dark mb-4 animated zoomIn">Organic & Quality Tea Production</h1> *@
                                @* <a href="" class="btn btn-light rounded-pill py-3 px-5 animated zoomIn">Explore More</a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="~/web/img/tea-post2.png" alt="Image">
                <div class="">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                @*  <p class="fs-4 text-white animated zoomIn">Welcome to <strong class="text-dark">TEA House</strong></p>
                                <h1 class="display-1 text-dark mb-4 animated zoomIn">Organic & Quality Tea Production</h1>
                                <a href="" class="btn btn-light rounded-pill py-3 px-5 animated zoomIn">Explore More</a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="~/web/img/tea-post3.png" alt="Image">
                <div class="">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                @*  <p class="fs-4 text-white animated zoomIn">Welcome to <strong class="text-dark">TEA House</strong></p>
                                <h1 class="display-1 text-dark mb-4 animated zoomIn">Organic & Quality Tea Production</h1>
                                <a href="" class="btn btn-light rounded-pill py-3 px-5 animated zoomIn">Explore More</a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="~/web/img/tea-post4.png" alt="Image">
                <div class="">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                @*  <p class="fs-4 text-white animated zoomIn">Welcome to <strong class="text-dark">TEA House</strong></p>
                                <h1 class="display-1 text-dark mb-4 animated zoomIn">Organic & Quality Tea Production</h1>
                                <a href="" class="btn btn-light rounded-pill py-3 px-5 animated zoomIn">Explore More</a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3 mt-5 pt-5">
                    <div class="col-6 text-end">
                        <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s" src="~/web/img/about.jpg" alt="">
                        <img class="img-fluid bg-white w-50 wow fadeIn" data-wow-delay="0.2s" src="~/web/img/about2.png" alt="">
                    </div>
                    <div class="col-6">
                        <img class="img-fluid bg-white w-50 mb-3 wow fadeIn" data-wow-delay="0.3s" src="~/web/img/about-4.jpg" alt="">
                        <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s" src="~/web/img/about3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">About Us</p>
                    <h1 class="display-6">The success history of TEA Post</h1>
                </div>
                <div class="row g-3 mb-4">
                    <div class="col-sm-5">
                        <img class="img-fluid bg-white h-50 w-100" src="~/web/img/about5.gif" alt="">
                    </div>
                    <div class="col-sm-7">
                        @* <h5>Our tea is one of the most popular drinks in the world</h5> *@
                        <p class="mb-2">Since the time immemorial, the world has been mesmerized by this beautiful beverage called Chai. It started somewhere around the North-Eastern areas of India and now it is the most consumed drink in the world, after water. India is the country of tea lovers. And they all love Chai from the bottom of their hearts. Tea Post was envisioned with the dream of reaching out to such tea lovers and offering them a great experience of having Chai.</p>
                        <p>According to a study, Indians consume about 25% of the tea produced in the world, every year. And that’s because it makes a big & powerful impact on one’s mind, which is amazingly refreshing. This is evident from the unprecedented rise in the number of Tea Post outlets which grew to 200+ within the first decade. Today, Tea Post is one of the largest Tea Café chains in India — serving more than 15 varieties of Chai and a wide range of delicious snacks.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top mb-4"></div>
        <div class="row g-3">
            <div class="col-sm-8 mt-5 pt-5">
                <h2>THE BEGINNING OF A DREAM</h2>
                <p class="mb-0">Though Tea Post was established in the year 2013, the idea of Tea Post had been brewing in the heart of Mr. Darshan Dashani for a long time. It was his comprehension about the demand and vision which took Tea Post from one outlet to 50 outlets within just 3 years. And then going on a hyper drive, Tea Post opened its 100″ outlet in 2017. Starting from a humble beginning, today Tea Post has become one of the fastest-growing Tea Café chains in India — present in 40 cities across 4 states.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-fluid bg-white h-75 w-100" src="~/web/img/about1.png" alt="">
            </div>
        </div>

        <div class="border-top mb-5"></div>
        <div class="row g-3">
            <div class="col-sm-5">
                <img class="img-fluid bg-white h-75 w-auto" src="~/web/img/mr-dashani.png" alt="">
            </div>
            <div class="col-sm-7 pt-5 mt-5">
                <p class="mb-0">During my international travels, I noticed that everyone was very comfortable in getting their everyday breakfast and coffee from nearby cafes. This is when I realized that this trend can be brought to India successfully – albeit with an Indian perspective. Then I tweaked the offerings with Indian F & B sensibilities and included Indian Chai and traditional snacks into the menu. And we were all set for a revolution.</p>
                <div class="w-100 text-end mt-3">
                    <h4>- Mr. Darshan Dashani</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Products Start -->
<div class="container-fluid product py-5">
    <div class="container py-5">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Shop At Tea Post</p>
            <h1 class="display-6"></h1>
        </div>
        <div class="row" data-wow-delay="0.5s">
            <a asp-controller="User" asp-action="TeaProduct" class="col-6 d-block product-item rounded text-center">
                <img src="~/web/img/product-1.jpg" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-5">
                    <h4 class="text-primary"> Variety of Tea</h4>
                </div>
            </a>
            <a asp-controller="User" asp-action="SnackProduct" class="col-6 d-block product-item rounded text-center">
                <img src="~/web/img/product-2.jpg" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-5">
                    <h4 class="text-primary">Snacks</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Products End -->
<!-- Menu Start -->

@* <div class="menudiv">

    <div class="_df_book df-lite df-container df-floating df-controls-bottom df-xs df-loading" id="df_39" data-title="menu" _slug="menu" wpoptions="true" thumb="https://www.teapost.in/wp-content/uploads/2022/09/menu.png" thumbtype="bg" df-parsed="true" style="position: relative; overflow: hidden; background-color: rgb(119, 119, 119); min-height: 300px; min-width: 300px; height: 320px;"><p class="df-raw-loading">Please wait while flipbook is loading. For more related info, FAQs and issues please refer to <a href="https://wordpress.org/plugins/3d-flipbook-dflip-lite/#installation">DearFlip WordPress Flipbook Plugin Help</a> documentation.</p><div class="df-comment-popup"></div><div class="loading-info">DearFlip: Loading  PDF 82% ...</div><canvas width="330" height="352" class="df-3dcanvas" style="display: block; width: 300px; height: 320px;"></canvas><div class="df-3dcanvas df-csscanvas" style="overflow: hidden; transform-style: preserve-3d; position: absolute; top: 0px; pointer-events: none; width: 300px; height: 320px; perspective: 597.128px;"><div style="transform-style: preserve-3d; width: 300px; height: 320px; transform: translate3d(0px, 0px, 597.128px) matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, -45.6923, -1366.41, 1) translate3d(150px, 160px, 0px);"><div class="df-page-content df-page-content-left" style="position: absolute; width: 295.505px; left: -147.752px; height: 297px; transform: translate3d(-50%, -50%, 0px) matrix3d(0.999693, 0, 0.0247714, 0, 0, -1, 0, 0, -0.0247714, 0, 0.999693, 0, 3.25451, 0, 6.50903, 1);"></div><div class="df-page-content df-page-content-right" style="position: absolute; width: 295.505px; left: 147.752px; height: 297px; transform: translate3d(-50%, -50%, 0px) matrix3d(0.999674, 0, -0.0255126, 0, 0, -1, 0, 0, 0.0255126, 0, 0.999674, 0, -3.35197, 0, 6.70394, 1);"></div></div></div><div class="df-share-wrapper" style="display: none;"><div class="df-share-box"><span class="df-share-title">Share</span><textarea class="df-share-url"></textarea><div class="df-share-button df-share-facebook ti-facebook"></div><div class="df-share-button df-share-twitter ti-twitter-alt"></div><a class="df-share-button df-share-mail ti-email" href="mailto:?subject=I wanted you to see this FlipBook&amp;body=Check out this site " target="_blank"></a></div></div><div class="df-ui-wrapper df-ui-controls"><div class="df-ui-btn df-ui-prev df-ui-alt ti-angle-left" title="Previous Page"><span>Previous Page</span></div><div class="df-ui-btn df-ui-page"><input id="df_book_page_number" type="text"><label for="df_book_page_number">5/8</label></div><div class="df-ui-btn df-ui-next df-ui-alt ti-angle-right" title="Next Page"><span>Next Page</span></div><div class="df-ui-btn df-ui-outline ti-menu-alt" title="Toggle Outline/Bookmark"><span>Toggle Outline/Bookmark</span></div><div class="df-ui-btn df-ui-thumbnail ti-layout-grid2" title="Toggle Thumbnails"><span>Toggle Thumbnails</span></div><div class="df-ui-btn df-ui-zoomin ti-zoom-in" title="Zoom In"><span>Zoom In</span></div><div class="df-ui-btn df-ui-zoomout ti-zoom-out disabled" title="Zoom Out"><span>Zoom Out</span></div><div class="df-ui-btn df-ui-fullscreen ti-fullscreen" title="Toggle Fullscreen"><span>Toggle Fullscreen</span></div><div class="df-ui-btn df-ui-share ti-sharethis" title="Share"><span>Share</span></div><div class="df-ui-btn df-ui-more ti-more-alt"><div class="more-container"><a download="" target="_blank" class="df-ui-btn df-ui-download ti-download" href="https://www.teapost.in/wp-content/uploads/2022/09/menu-web.pdf" title="Download PDF File"><span>Download PDF File</span></a><div class="df-ui-btn df-ui-pagemode ti-file" title="Single Page Mode"><span>Single Page Mode</span></div><div class="df-ui-btn df-ui-start ti-angle-double-left" title="Goto First Page"><span>Goto First Page</span></div><div class="df-ui-btn df-ui-end ti-angle-double-right" title="Goto Last Page"><span>Goto Last Page</span></div><div class="df-ui-btn df-ui-sound ti-volume" title="Turn on/off Sound"><span>Turn on/off Sound</span></div></div></div></div><div class="df-ui-btn df-ui-prev ti-angle-left" title="Previous Page" style=""><span>Previous Page</span></div><div class="df-ui-btn df-ui-next ti-angle-right" title="Next Page"><span>Next Page</span></div><div class="df-ui-wrapper df-ui-zoom"></div><div class="df-outline-container df-sidemenu"><div class="df-ui-btn df-ui-sidemenu-close ti-close"></div><div class="df-outline-wrapper"><div class="df-outline-item"><a href="#%FE%FF%00_%00P%00A%00G%00E%001">Page 1</a></div><div class="df-outline-item"><a href="#%FE%FF%00_%00P%00A%00G%00E%002">Page 2</a></div><div class="df-outline-item"><a href="#%FE%FF%00_%00P%00A%00G%00E%003">Page 3</a></div><div class="df-outline-item"><a href="#%FE%FF%00_%00P%00A%00G%00E%004">Page 4</a></div><div class="df-outline-item"><a href="#%FE%FF%00_%00P%00A%00G%00E%005">Page 5</a></div><div class="df-outline-item"><a href="#%FE%FF%00_%00P%00A%00G%00E%006">Page 6</a></div><div class="df-outline-item"><a href="#%FE%FF%00_%00P%00A%00G%00E%007">Page 7</a></div><div class="df-outline-item"><a href="#%FE%FF%00_%00P%00A%00G%00E%008">Page 8</a></div></div></div></div><script async="" data-cfasync="false" src="https://www.teapost.in/wp-content/plugins/3d-flipbook-dflip-lite/assets/js/libs/pdf.min.js?ver=1.7.33"></script><script async="" data-cfasync="false" src="https://www.teapost.in/wp-content/plugins/3d-flipbook-dflip-lite/assets/js/libs/mockup.min.js?ver=1.7.33"></script><script async="" data-cfasync="false" src="https://www.teapost.in/wp-content/plugins/3d-flipbook-dflip-lite/assets/js/libs/three.min.js?ver=1.7.33"></script><script class="df-shortcode-script" type="application/javascript">window.option_df_39 = {"outline":[],"forceFit":"true","autoEnableOutline":"false","autoEnableThumbnail":"false","overwritePDFOutline":"false","direction":"1","pageSize":"0","source":"https:\/\/www.teapost.in\/wp-content\/uploads\/2022\/09\/menu-web.pdf","wpOptions":"true"}; if(window.DFLIP && window.DFLIP.parseBooks){window.DFLIP.parseBooks();}</script>
</div> *@

<!-- Menu end -->
<!-- Store Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Our Cafes</p>
        </div>
        <div class="row g-4">

            @foreach (ShopDropDownModel shop in ViewBag.ShopList)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="store-item position-relative text-center">
                        <img class="img-fluid" src="@shop.ShopImage" alt="">
                        <div class="p-4">
                            <h4 class="mb-3">@shop.ShopName</h4>
                        </div>
                        <div class="store-overlay">
                            <form method="post" asp-controller="User" asp-action="ShopDetails">
                                <input type="hidden" name="ShopID" value="@shop.ShopID" />
                                <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 m-2">More Details <i class="fa fa-arrow-right ms-2"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Store End -->
<!-- Contact Start -->
<div class="container-xxl contact py-5">
    <div class="container">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-3 fw-medium fst-italic text-primary">Contact Us</p>
        </div>
        <div class="row justify-content-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-8">
                <p class="text-center mb-5">If You Have Any Query, Please Contact Us</p>
                <div class="row g-5">
                    <div class="col-md-3 text-center wow fadeInUp" data-wow-delay="0.3s">
                        <div class="btn-square mx-auto mb-3">
                            <i class="fa fa-envelope fa-2x text-white"></i>
                        </div>
                        <p class="mb-2">support@teapost.in</p>
                    </div>
                    <div class="col-md-3 text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="btn-square mx-auto mb-3">
                            <i class="fa fa-phone fa-2x text-white"></i>
                        </div>
                        <p class="mb-2">+91 92770 00077</p>
                    </div>
                    <div class="col-md-3 text-center wow fadeInUp" data-wow-delay="0.5s">
                        <div class="btn-square mx-auto mb-3">
                            <i class="fa fa-map-marker-alt fa-2x text-white"></i>
                        </div>
                        <p class="fw-bolder">Corporate Office</p>
                        <p class="mb-2">D-001 Elanza Crest, Sindhu Bhavan Road, Bodakdev, Ahmedabad - 380059. Gujarat, India</p>
                    </div>
                    <div class="col-md-3 text-center wow fadeInUp" data-wow-delay="0.5s">
                        <div class="btn-square mx-auto mb-3">
                            <i class="fa fa-map-marker-alt fa-2x text-white"></i>
                        </div>
                        <p class="fw-bolder">Register Office</p>
                        <p class="mb-2">D-001 Elanza Crest, Sindhu Bhavan Road, Bodakdev, Ahmedabad - 380059. Gujarat, India</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Start -->
